/**
 * Treehouse FSJS Techdegree - Project Warm Up
 * Conditional String - CSS
 * Developed by: Robert Manolis - Student Success Specialist
 *               Milwaukie, OR - 2019
 */

 @import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono');

* {
	box-sizing: border-box;
}

body,
html {
	width: 100%;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
	text-align: center;
}

h1 {
  color: rgba(25, 215, 75, 0.7);
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.9);
}

h2 {
  vertical-align: top;
  margin: 10px auto;
}

p {
  line-height: 0.65;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto 10px;;
}

li {
  display: inline-block
}

.display {
  display: flex;
  flex-flow: row;
  max-width: 900px;
  margin: auto;
}

.stat-list,
.string-list {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  max-width: 420px;
  min-height: 177px;
  margin: 25px auto 35px;
  padding: 10px;
  background: rgba(50, 50, 50, 0.1);
  border: 1px solid rgba(60, 60, 66, 0.45);
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.25) inset;
}

.stat-list ul {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.stat-character {
  font-weight: bold;
  color: rgba(50, 50, 50, 0.9);
  width: 100px;
  height: 90px;
  padding: 5px;
  padding-top: 15px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.999);
  border: 1px solid rgba(57, 83, 65, 0.3);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(25, 25, 25, 0.35);
  transition: all 0.4s;
}

.stat-value {
  font-family: 'Roboto Mono', monospace;
}

.stat-character {
  font-size: 3.5em;
}

.stat-character img {
  width: 100%;
}

.control-btn {
  cursor: pointer;
  outline: none;
  color: white;
  width: 100px;
  height: 50px;
  background: rgba(25, 25, 25, 0.9);
  border: 1px solid rgba(50, 50, 50, 0.9);
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.7) inset, -1px -1px 2px rgba(255, 255, 255, 0.57) inset;
  transition: all 0.4s ease-out;
}

.active {
  background: rgb(13, 85, 13);
  border: 2px solid rgba(50, 250, 0, 0.9);
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.7), 1px 1px 2px rgba(50, 250, 0, 0.7) inset, -1px -1px 2px rgba(50, 250, 0, 0.57) inset;
}

.control-btn:hover {
  box-shadow: 7px 7px 7px rgba(50, 50, 50, 0.5), 1px 1px 2px rgba(23, 214, 81, 0.9) inset, -1px -1px 2px rgba(23, 214, 81, 0.9) inset;
}

